@inherits LayoutComponentBase

<div class="app-container">
    <Header />

    <main class="main-content">
        <div class="container mt-4">
            @Body
        </div>
    </main>

    <Footer />
</div>